<div class="is-center text-uppercase" style="padding: 35px; font-size: 3rem">
  authorize access to your information
</div>

<p class="card bg-error" style="padding:15px">
  Are you sure you want to allow application «{{$.providerApplication.Config.Label}}» to access your profile information?<br/>
  Here is what they will see...
</p>

<div class="card">
  {{template "user-profile" .}}
  <footer>
    <div class="row">
      <div class="col">
	      <div class="is-right">
	        <form method="post" action="{{$.request.URL.String}}">
            <input type="hidden" name="_csrf" value="{{csrf $.session $.request.URL.Path}}">
	          <a href="{{$.paths.root}}"
	             title="go to main page"
	             class="button error"
	             style="font-size: 1.8rem">Decline</a>

	          <button type="submit"
		                title="proceed with «{{$.providerApplication.Config.Label}}» using your profile data"
		                class="button success primary"
		                style="font-size: 1.8rem">Accept</button>
	        </form>
	      </div>
      </div>
    </div>
  </footer>
</div>
