<div class="is-center text-uppercase" style="padding: 35px; font-size: 3rem">
  sign in method
</div>

{{range $connector := .connectors}}
<div class="row is-center">
  <form method="post" action="{{pathJoin $.paths.connectors $connector.Name}}/">
    <input type="hidden" name="_csrf" value="{{csrf $.session (printf "%s/" (pathJoin $.paths.connectors $connector.Name))}}">
    <button type="submit"
            title="{{$connector.Name}} - {{$connector.Description}}"
            class="button outline primary"
            style="font-size: 1.8rem; margin-bottom: 5px">{{$connector.Label}}</button>
  </form>
</div>
{{end}}
