{{if .userProfile}}
<div class="is-center text-uppercase" style="padding: 35px; font-size: 3rem;">
  auth status
</div>

<div class="card">
  {{template "user-profile" .}}
  <details style="margin-bottom: 16px; margin-top: 16px;">
    <summary>Session dump</summary>
    <pre>{{toPrettyJson .session}}</pre>
  </details>
  <footer class="is-right">
    <form method="post" action="{{$.paths.signout}}">
      <input type="hidden" name="_csrf" value="{{csrf $.session $.paths.signout}}"/>
      <a href="{{$.paths.root}}" class="button primary">Main Page</a>&nbsp;<button type="submit" class="button primary">Sign Out</button>
    </form>
  </footer>
</div>
{{else}}
<div class="is-center text-uppercase" style="padding: 35px; font-size: 3rem;">
  not signed in
</div>
<div class="is-center">
  <a href="{{$.paths.signin}}" class="button primary">Sign In</a>
</div>
{{end}}
