<table class="striped">
  <tbody>
    <tr>
      {{$userProfileMap := .userProfile.Map}}
      {{$userProfileMapKeys := keys $userProfileMap | sortAlpha | reverse}}
      {{if (get $userProfileMap "avatar-url")}}
      <td style="width: 230px;"><img src="{{get $userProfileMap "avatar-url"}}"/></td>
      {{end}}
      <td>
        <table class="stripped">
          <tbody>
            {{range $k := $userProfileMapKeys}}
            {{$v := get $userProfileMap $k}}
            <tr>
              <td>{{$k}}</td>
              <td style="text-overflow: ellipsis;">{{if $v}}
                {{if or (hasPrefix "http://" $v) (hasPrefix "https://" $v)}}
                <a href="{{$v}}">{{$v}}</a>
                {{else}}{{$v}}{{end}}{{else}}—{{end}}
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
